@model List<ASPNET.Models.Entities.Student>
@{
}

@foreach(var student in Model)
{
	<tr>
		<td>@Html.DisplayFor(modelItem => student.Name)</td>
		<td>@Html.DisplayFor(modelItem => student.Email)</td>
		<td>@Html.DisplayFor(modelItem => student.Phone)</td>
		<td>@Html.DisplayFor(modelItem => student.Subscribed)</td>
		<td>
			<a class="btn btn-primary" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
			<a class="btn btn-danger" asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id">Delete</a>
		</td>
	</tr>
}